Honeywell Expands Navigation Offerings To Meet Evolving Requirements For Industrial Applications
Global
Africa
Algeria - English
Angola - English
Kenya - English
Morocco - French
Nigeria - English
South Africa - English
Tunisia - French
Asia Pacific
Australia - English
China - Chinese
India - English
Indonesia - Indonesian
Japan - Japanese
Malaysia - English
Republic of Korea - Korean
Philippines - English
Thailand - English
Vietnam - Vietnamese
Europe
Austria - German
Belgium - French
Belgium - Dutch
Bulgaria - Bulgarian
Czech Republic - English
Denmark - Danish
Finland - Finnish
France - French
Germany - German
Hungary - Hungarian
Italy - Italian
Netherlands - Dutch
Norway - Norwegian
Poland - Polish
Romania - English
Slovakia - Slovak
Switzerland - French
Switzerland - German
Turkey - Turkish
United Kingdom - English
Latin America
Brazil - Portuguese
Mexico - Spanish
Middle East
Egypt - English
Saudi Arabia - English
Saudi Arabia - Arabic
United Arab Emirates - English
United Arab Emirates - Arabic
North America
Canada - English
Canada - French
United States - English
Contact
Close
Industries
Industries
What We Do
Our Products
Aerospace
Commercial Buildings
Energy
Healthcare
IT/High-Tech
Life Sciences
Logistics and Warehouses
Manufacturing
Retail
Utilities
Company
Company
About Us
Investors
Ventures
Quantum
History
Sustainability
News
Careers
Global
Africa
Algeria - English
Angola - English
Kenya - English
Morocco - French
Nigeria - English
South Africa - English
Tunisia - French
Asia Pacific
Australia - English
China - Chinese
India - English
Indonesia - Indonesian
Japan - Japanese
Malaysia - English
Republic of Korea - Korean
Philippines - English
Thailand - English
Vietnam - Vietnamese
Europe
Austria - German
Belgium - French
Belgium - Dutch
Bulgaria - Bulgarian
Czech Republic - English
Denmark - Danish
Finland - Finnish
France - French
Germany - German
Hungary - Hungarian
Italy - Italian
Netherlands - Dutch
Norway - Norwegian
Poland - Polish
Romania - English
Slovakia - Slovak
Switzerland - French
Switzerland - German
Turkey - Turkish
United Kingdom - English
Latin America
Brazil - Portuguese
Mexico - Spanish
Middle East
Egypt - English
Saudi Arabia - English
Saudi Arabia - Arabic
United Arab Emirates - English
United Arab Emirates - Arabic
North America
Canada - English
Canada - French
United States - English
Contact
Search
You are browsing product catalog for
/content/honeywellbt/us/en/search.html
title
subtitle
Press & Media
Honeywell Expands Navigation Offerings To Meet Evolving Requirements For Industrial Applications
Honeywell Expands Navigation Offerings To Meet Evolving Requirements For Industrial Applications
New HGuide inertial measurement units offer high-performance and cost-efficient solutions for reliable navigation data in challenging environments
September 11, 2019
PHOENIX, Sept. 12, 2019 /PRNewswire/ -- Honeywell (NYSE: HON) is introducing two new inertial measurement units (IMUs) to provide world-class navigation in a small, lightweight package without compromising on cost. Built to withstand almost any environment in the air, on land or underwater, these small-but-mighty sensors can serve several markets, including agriculture, robotics, survey/mapping, unmanned vehicles and transportation.
An IMU uses gyroscopes, accelerometers and electronics to give precise rotation and acceleration data to a platform's control system. The IMU enables the system to calculate where it is, what direction it's going and at what speed, even when GPS signals aren't available.
"Honeywell is committed to expanding our inertial sensor and navigation offerings to meet the needs of new industrial customers with our HGuide i300 and HG4930 S-Class IMUs," said Chris Lund, senior director, HGuide Navigation and Sensors, Honeywell Aerospace. "Our customers are always looking for IMUs with different performance capabilities and price points to meet their companies' needs, and we're helping support them with the introduction of our new IMUs."
The HGuide i300 Micro-Electro-Mechanical System (MEMS) IMU can be used in several industrial applications, such as autonomous vehicle testing, precision agriculture, surveying and mapping, pipeline inspections, platform control, and motion compensation. The HG4930 S-Class IMU provides high bandwidth and high data rates for precision stabilization needs, including optical sensors and satellite communication antennas. The HG4930 S-Class IMU is also a smaller, lower-power and cost-effective replacement for Fiber Optic Gyro (FOG) IMUs.
Key advantages of the HGuide i300 MEMS IMU and HG4930 S-Class IMU
Both the HGuide i300 MEMS IMU and HG4930 S-Class IMU were created through rigorous development and testing processes and are exposed to an extensive factory calibration and compensation procedure. The units are available today as scalable, cost-effective solutions. Other benefits include:
A range of user-changeable options with selectable output data rates and filtering
Multiple, configurable communication protocols
Proven reliability, dependability and ruggedness throughout the life of the unit
Best-in-class performance for unit size and price
Honeywell has been producing high-performance inertial sensors for decades and has delivered more than 500,000 units to serve as navigation aids on an extensive list of air and spacecraft flying today. As the industry evolves, Honeywell's HGuide suite of IMUs and navigators is a key enabler of emerging segments like urban air mobility, autonomous vehicles, precision agriculture and robotics.
About Honeywell
Honeywell Aerospace products and services are found on virtually every commercial, defense and space aircraft. The Aerospace business unit builds aircraft engines, cockpit and cabin electronics, wireless connectivity systems, mechanical components and more. Its hardware and software solutions create more fuel-efficient aircraft, more direct and on-time flights and safer skies and airports. For more information, visit www.honeywell.com/us/en or follow us at @Honeywell Aero.
Honeywell (www.honeywell.com/us/en) is a Fortune 100 technology company that delivers industry-specific solutions that include aerospace products and services; control technologies for buildings and industry; and performance materials globally. Our technologies help everything from aircraft, buildings, manufacturing plants, supply chains, and workers become more connected to make our world smarter, safer, and more sustainable.  For more news and information on Honeywell, please visit www.honeywell.com/us/en/news.
Adam Kress
Aerospace
Email
Aerospace & Defense
What We Do
toggle view
Honeywell Forge
Our Industries
Our Products
Quantum Solutions
INDUSTRIES
toggle view
Aerospace
Commercial Real Estate
Energy
Healthcare
IT/High-Tech
Life Sciences
Logistics & Warehouse
Retail
Utilities
Company
toggle view
About Us
History
Investors
Leadership
Inclusion & Diversity
News
toggle view
News
Press & Media
Careers
toggle view
Careers
Job Search
Contact Us
toggle view
Support
Business Inquiries
Employee Access
FOLLOW US
LinkedIn
Facebook
Twitter
YouTube
Instagram
Scroll to top
Copyright © 2023 Honeywell International Inc.
Terms & Conditions
Privacy Statement
Your Privacy Choices
Cookie Notice
Global Unsubscribe